*.[oa]
*~
*.swp
*.swo

doc/*.pdf
doc/*.aux
doc/*.log
doc/*.out

__pycache__/
*.py[cod]

model_output/

.idea
venv

*out.txt
diff*.dat
geom*.dat

*.png
*.out

precondition_test/**/*.npy
precondition_test/**/*.npz
precondition_test/**/*.pdf

