*.[oa]
*~
*.swp
*.swo
*.code-workspace

doc/*.pdf
doc/aux/*
doc/svg-inkscape/*

jacobian

scripts/**/*.pdf

__pycache__/
*.py[cod]

bubble_cliff
results
test_configs/
work
scripts/load_env.sh

.vscode
.idea
venv

stdout
*out.txt
diff*.dat
geom*.dat

*.png
*.out
*.nc
*.db
*.npy
*.npz

*.tmp
