*.[oa]
*~
*.swp
*.swo
*.code-workspace
*.lprof
*.lprof.txt
*.nsys-rep
*.so

pde/pde_interface.cpp

doc/*.pdf
doc/aux/*
doc/svg-inkscape/*
doc/**/*-eps-converted-to.pdf
doc/**/*.eps
doc/**/build
doc/sphinx/source/_autosummary
# doc/sphinx/**/*.md

scripts/**/*.pdf

__pycache__/
*.py[cod]

bubble_cliff
jacobian
listings
results
results_tanya
work

scripts/load_env.sh

.vscode
.idea
venv
.env

stdout
*out.txt
diff*.dat
geom*.dat

*.png
*.out
*.nc
*.db
*.npy
*.npz

*.tmp

lib
